<!DOCTYPE html>
<html>

<head>
    <title>Flights</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href='/stylesheets/style.css'>

</head>

<body class="bodytag">
    <nav class="navbar-dark navbar-brand ">
        <button class="btn btn-outline-success btn-dark"><a href="/flights/new">ADD FLIGHT</a></button>
        <button class="btn btn-outline-success btn-dark"><a href="/flights">ALL FLIGHTS</a></button>

    </nav>
    <br><br>
    <h1>FLIGHTS</h1>
    <br><br><br>